$red: #e43b67;
$red-youtube: #ff0000;
$red-lighten: #F06B61;
$old-orange: #ea7a0b;
$orange: #fd5d00;
$orange-light : rgba(234, 123, 13, 0.1);
$orange-light-hover : rgba(234, 123, 13, 0.2);
$orange-hover: #FFA247;
$orange-lighten-hover: #FAF1E7;
$green: #91ca45;
$green-light: #9BE43B;
$green-loader:#7AD03A;
$green-light-loader:#9BE43B;
$blue: #5e94ff;
$purple: #a45eff;
$purple-light: #DADAEC;
$purple-loader:#a45eff;
$blue-light: #5ec4ff;
$blue-loader: #5e94ff;
$black: #181818;
$brown: #4B4B4B;
$brown-light-1: #A6A6A6;
$brown-light-2: #DCDCDC;
$brown-light-3: #FAFAFA;
$brown-light-4: #FBFBFB;
$brown-dark-1: #5E5E5E;
$brown-disabled: #C5C5C5;
$white: #fff;
$tooltip-bg:#1f1f1f;
$tooltip-color:#efefef;


$step-gutter: 1rem !default;
$step-content-width: 5rem !default;
$step-content-padding-top: .5rem !default;
$step-circle-size: 1.5rem !default;
$step-circle-border-width: 4px !default;

$step-default-circle-color: $brown-light-4 !default;
$step-default-circle-bg-color: $brown-light-4 !default;
$step-default-circle-border-color: $brown-light-2 !default;
$step-default-text-color: $brown-light-1 !default;


$step-success-circle-color: $white !default;
$step-success-circle-bg-color: $green !default;
$step-success-circle-border-color: $green !default;
$step-success-text-color: $brown-light-1 !default;
